.piece {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    border-radius: 50%;

    border: none;

    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;

    &:active {
        cursor: grabbing;
    }

    &:disabled {
        cursor: default;
    }
}
.black {
    background-color: black;
    color: white;
}
.white {
    background-color: white;
    color: black;
}
